In [10]:
import tensorflow as tf
import pandas as pd

### Read data

In [11]:
cols = ['septal_length', 'septal_width', 'petal_length', 'petal_width', 'species']
SPECIES = ['setosa', 'versicolor', 'virginica']
train = pd.read_csv('iris_training.csv', names = cols, header=0)
train.head()

   septal_length  septal_width  petal_length  petal_width  species
0            6.4           2.8           5.6          2.2        2
1            5.0           2.3           3.3          1.0        1
2            4.9           2.5           4.5          1.7        2
3            4.9           3.1           1.5          0.1        0
4            5.7           3.8           1.7          0.3        0

In [12]:
test = pd.read_csv('iris_test.csv', names = cols, header=0)
test.head()

   septal_length  septal_width  petal_length  petal_width  species
0            5.9           3.0           4.2          1.5        1
1            6.9           3.1           5.4          2.1        2
2            5.1           3.3           1.7          0.5        0
3            6.0           3.4           4.5          1.6        1
4            5.5           2.5           4.0          1.3        1

### Pop outut labels

In [14]:
y_train = train.pop('species')
y_train.head()

0    2
1    1
2    2
3    0
4    0
Name: species, dtype: int64

In [15]:
y_test = test.pop('species')
y_test.head()

0    1
1    2
2    0
3    1
4    1
Name: species, dtype: int64

### Defn feature columns

In [18]:
#Note: the function keys() can be used to extract/point to the columns in a dataframe
feature_cols = []
for key in train.keys():
    feature_cols.append(tf.feature_column.numeric_column(key=key))
print(feature_cols)

[NumericColumn(key='septal_length', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='septal_width', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='petal_length', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='petal_width', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

### Defn input function for tensorflow

In [16]:
def input_fn(features, labels, training=True, batch_size=256):
    dataset = tf.data.Dataset.from_tensor_slices(dict(features), labels)
    
    if training:
        dataset = dataset.shuffle(1000).repeat()
        
    return dataset.batch(batch_size)